
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,
body
{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.button
{
    border: 2px solid #fff;
    background: transparent;
    border-radius: 99px;
    padding: 10px;
    padding-block: 5px;
}

.button a
{
    color: #fff;
}

.bg
{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -999;
}

.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #00000099;
    backdrop-filter: blur(17px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar__container
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

.navbar__logo
{
    height: 100%;
}

.navbar__items
.navbar__item
{
    display: inline-block;
    padding-inline: 40px;
    list-style: none;
}

.navbar__links
{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    position: relative;
}

.navbar__links::after
{
    content: '';
    height: 2px;
    width: 0;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}

.navbar__links:hover::after
{
    width: 100%;
}



/* navbar ================================================================================= */

#home
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-img
{
    height: 570px;
    margin-top: -100px;
}

.home-header
{
    font-size: 100px;
    color: #fff;
}

.home-reference
{
    font-size: 20px;
    text-decoration: none;
}

/*  about ====================================================================================================== */

#about
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-img
{
    height: 570px;
    margin-top: -100px;
}

.about-header
{
    font-size: 100px;
    color: #fff;
}

.about-text_content
{
    padding-inline: 20px;
}

/* about ============================================================================================================== */

#roadmap
{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.heading
{
    font-size: 45px;
}

.card__container
{
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    padding-top: 30px;
}

.cards
{
    text-align: center;
}

ul li 
{
    list-style: none;
}

/*  roadmap   ==================================================================================================================== */

#art
{
    height: 100vh;
    width: 100%;
}

.art-title h1
{
    font-size: 75px;
}

.img__container
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    margin: 50px 0;
}

.imgs
{
    height: 360px;
    width: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
}

.art
{
    height: 250px;
    border-radius: 12px;
}

.anchore
{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 21px;
}

a
{
    text-decoration: none;
}

/* features  ================================================================================================== */

#socials
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    height: 40vh;
    background: rgba( 255, 255, 255, .1);
}

.icons_container
{
    height: fit-content;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}

@media screen and (max-width: 450px) {
    
    .navbar
    {
        height: 100%;
        width: 50%;
        opacity: 0;
        left: -1000px;
        transition: .5s;
    }
    
    .navbar.is-active
    {
        left: 0;
        opacity: 1;
    }

    .navbar__container
    {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .navbar__items
    .navbar__item
    {
        padding-block: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar__logo
    {
        height: 120px;
    }

    #mobile-menu
    {
        height: 40px;
        display: block;
        width: 40px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .bar 
    {
        background: #fff;
        width: 100%;
        height: 4px;
        border-radius: 20px;
        transition: .5s;
    }

    #mobile-menu.active .bar:nth-child(1)
    {
        transform: rotate(45deg) translateY(10px) translateX(15px);
    }

    #mobile-menu.active .bar:nth-child(2)
    {
        opacity: 0;
    }
    
    #mobile-menu.active .bar:nth-child(3)
    {
        transform: rotate(-45deg) translateY(-10px) translateX(15px);
    }
    
    /* navbar ================================================================================= */

    #home
    {
        flex-direction: column;
        height: fit-content;
        text-align: center;
        padding: 40px;
    }

    .home-img
    {
        height: 450px;
    }

    .home-header
    {
        font-size: 45px;
        margin-bottom: 2pc;
    }

    /* home ==================================================================== */

    #about
    {
        flex-direction: column;
        height: fit-content;
        text-align: center;
        padding: 20px;
    }

    .about-img
    {
        height: 450px;
    }

    .about-header
    {
        font-size: 40px;
        margin-bottom: 40px;
    }

    /*  roadmap  =========================================================================== */

    #roadmap
    {
        height: fit-content;
        padding-bottom: 40px;
    }

    .heading
    {
        font-size: 20px;
    }

    .card__container
    {
        flex-direction: column;
    }

    .cards
    {
        margin-top: 20px;
    }

    /* festures =========================================================== */

    #art
    {
        height: fit-content;
    }

    .img__container
    {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .features
    {
        font-size: 1px;
        color: black;
    }

    .art-title h1
    {
        font-size: 51px;
    }
    
    .imgs
    {
        height: 300px;
        width: 250px;
        background-color: #fff;
        border-radius: 12px;
        margin-top: 10%;
    }

    .art
    {
        height: 200px;
        border-radius: 12px;
    }

    /*  socials   ========================================================================================= */

    #socials
    {
        height: fit-content;
        width: 100%;
    }

    .icons_container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70px;
    }

}